@import url('../static/recommfont-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body {
  background: #EEE;
  font-family: 'Roboto', sans-serif;
}
#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff;
}
.dropzone {
  width: 98%;
  margin: 1%;
  border: 2px dashed #3498db !important;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
  margin-top: 70px;
}

.dropzone.dz-drag-hover {
  border: 2px solid #3498db !important;
}

.dz-message.needsclick .text h1 {
  /*width: 50px;*/
  display: block;
  margin: auto;
  opacity: .6;
  margin-bottom: 15px;
  text-align: center;
}

span.plus {
  display: none;
}

.dropzone.dz-started .dz-message {
  display: inline-block !important;
  width: 120px;
  float: right;
  border: 1px solid rgba(238, 238, 238, 0.36);
  border-radius: 30px;
  height: 120px;
  margin: 16px;
  -webkit-transition: .2s;
  transition: .2s;
}

.dropzone.dz-started .dz-message span.text {
  display: none;
}

.dropzone.dz-started .dz-message span.plus {
  display: block;
  font-size: 70px;
  color: #AAA;
  line-height: 110px;
}
.intro__cluster{
    display: flex;
    justify-content: center;
}
#intro {
    background-color: #ffffff;
    border-radius: 4px;
    width: 800px;
    height: auto;
    max-height: 600px;
    justify-content: center;

}
#intro h2 {
    text-align: center;
}
#intro .main__img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#intro h1{
    display: inline;

}
.text2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#words {
    display: inline;
}
.actions li{
    display: flex;
    justify-content: center;
}
.recom_h2 {
    margin: 50px 0px 50px auto;
    font-size: 30px;
}
/* =========== 템플릿 css ======================== */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: 20px;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a:hover,
a:active {
  outline: 0;
}

.container2 {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container2:before,
.container2:after {
  display: table;
  line-height: 0;
  content: "";
}

.container2:after {
  clear: both;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}
.span12 {
  width: 940px;
}

.span4 {
  width: 300px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}
.table .span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
/* 확인 필요 */
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}
.table .span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
.pagination {
  height: 40px;
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}
/* 위에 까지가 bootstrap.css */
/* 아래 부터 custom-style.css */
/* 여기서는 이미지가 안불러와 지고 custom-style.css 만되서 거기로 필요한 부분만 다 옮김 */
@media (max-width: 610px) {
    #chooseFile {
        width: 70px;
    }
}
