<!DOCTYPE HTML>
<html>
<head>
    <title>RestArt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="{{ url_for('static', path='ai_recomm/css/recommmain2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='ai_recomm/css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='ai_recomm/css/prettyPhoto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='ai_recomm/css/custom-styles.css') }}">
    <script src="{{ url_for('static', path='ai_recomm/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='ai_recomm/js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ url_for('static', path='ai_recomm/js/jquery.custom.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ url_for('static', path='ai_recomm/css/bootstrap2.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='ai_recomm/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='ai_recomm/css/nav_top3.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='ai_recomm/css/responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='ai_recomm/css/colors.css') }}" rel="stylesheet">
    <style>
        @media (max-width: 850px) {
            #chooseFile {
                width: 70px;
            }
        }

        .container2 {
            display: none;
        }

        .picture-display-flex {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .addImage {
            width: 798px;
            height: 300px;
            background-color: white;
            border-radius: 20px 20px / 20px 20px;
            overflow: hidden;
            margin: 10px 0px 10px 0px;
            z-index: 1;
            position: relative;
            display: flex;
            justify-content: center;
        }

            .addImage img {
                width: auto !important;
                height: 100%;
                object-fit: cover;
            }

        .container_2 {
            position: absolute;
            z-index: 1;
            top: 83%;
            left: 46%;
        }

        .image-upload {
            flex: 1;
            display: flex;
            align-items: center;
        }

        #chooseFile {
            visibility: hidden;
        }

        .buttonContainer {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            background-color: black;
            color: white;
            border-radius: 30px;
            padding: 10px;
            font-size: 0.8em;
            cursor: pointer;
        }
    </style>
</head>
<body style="background: white">
    <div id="wrapper2" style="height: 100px; font-size: 40px; align-content: center; text: black; padding: 30px; background: white">
        RestArt
    </div><!-- end wrapper -->
    <!-- AI 등록 부분 -->
    <!--<div id="dropzone">
        <form action="https://httpbin.org/post" class="dropzone needsclick" id="demo-upload">
            <div class="dz-message needsclick">
                <span class="text">
                    <h1>RestArt</h1>
                    Drop files here or click to upload.
                </span>
                <span class="plus">+</span>
            </div>
        </form>
    </div>-->
    <form class="inputImage picture-display-flex" method="post" enctype="multipart/form-data" style="background: white">
        <!-- 이미지 파일 데이터에 알맞는 enctype 설정 -->
        <div class="addImage" id="image-show" style="border-bottom: 2px solid #6699FF; border-right: 2px solid #3366FF; border-left: 2px solid #99CCFF;">
            <!-- 이미지 띄울 공간 -->
        </div>
        <div class="container_2">
            <div class="image-upload" id="image-upload">


                <div class="button2">
                    <label for="chooseFile">
                        👉 CLICK HERE! 👈
                    </label>
                </div>
                <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">


                <div class="fileContainer">
                    <div class="buttonContainer">
                        <div class="submitButton" id="submitButton">SUBMIT</div>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Dropzone css+js -->
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <!-- 클러스터링 출력 -->
    <div class="intro__cluster" style="background-color: white; padding: 40px 40px 10px 40px; display: none">
        <section id="intro" class="main">
            <h2>업로드한 이미지의 색 분석</h2>
            <div class="main__img">
                <!--<img src="{{ url_for('static', path='ai_recomm/image/1-1.jpg') }}" alt="Clustered Image" width="400" height="400">-->
                <img src="{{ url_for('static', path='ai_recomm/image/color_an.jfif') }}" alt="Clustered Image" width="400" height="400">
            </div>
            <div class="text2">
                <h1>추천된 단어:</h1>
                <div id="words">{{ fin[0] }}, {{ fin[1] }}, {{ fin[2] }}</div>
            </div>
            <ul class="actions">
                <li><a href="#" class="button big">Learn More</a></li>
            </ul>
        </section>
    </div>

    <!-- 작품 추천 파트 -->
    <h2 class="recom_h2" style="text-align: center; margin: 30px 0 50px 0;">작품 추천</h2>
    <div class="container2" id="container2">
        <div class="row">
            <!-- Gallery Items -->
            <div class="span12 gallery">
                <div class="row clearfix">
                    <ul class="gallery-post-grid holder">
                        <!-- Gallery Item 1 -->
                        <li class="span4 gallery-item" data-id="id-1" data-type="illustration">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/강두형_소풍가는 날.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/강두형_빛 - 산토리니.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Custom Illustration</a>For an international add campaign.</span>
                        </li>
                        <!-- Gallery Item 2 -->
                        <li class="span4 gallery-item" data-id="id-2" data-type="illustration">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/VESPER KWON_Sureness. 2.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/Kyenam (계남)_마음의 집.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">3 Color Poster Design</a>For a regional festival event.</span>
                        </li>
                        <!-- Gallery Item 3 -->
                        <li class="span4 gallery-item" data-id="id-3" data-type="web">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/Pinky Jang_Rhema.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/Pinky Jang_Rhema.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Ink Pen Illustration</a>Created for a best selling children's book.</span>
                        </li>
                        <!-- Gallery Item 4 -->
                        <li class="span4 gallery-item" data-id="id-4" data-type="video">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/art 9_육면체.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/Clara Oh 현주_시노달리타스-함께하는 여정.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Custom Illustration</a>For an international add campaign.</span>
                        </li>
                        <!-- Gallery Item 5 -->
                        <li class="span4 gallery-item" data-id="id-5" data-type="web illustration">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Icon Design</a>Classic retro style illustration.</span>
                        </li>
                        <!-- Gallery Item 6 -->
                        <li class="span4 gallery-item" data-id="id-6" data-type="illustration design">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Animation Cell</a>Creative storyboard illustration</span>
                        </li>
                        <!-- Gallery Item 7 -->
                        <li class="span4 gallery-item" data-id="id-7" data-type="design">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Poster Ad Campaign</a>Regional ad for a local company.</span>
                        </li>
                        <!-- Gallery Item 8 -->
                        <li class="span4 gallery-item" data-id="id-8" data-type="web video">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Magazine Ad</a>For an international add campaign.</span>
                        </li>
                        <!-- Gallery Item 9 -->
                        <li class="span4 gallery-item" data-id="id-9" data-type="design">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Character Designs</a>For a feature film.</span>
                        </li>
                        <!-- Gallery Item 10 -->
                        <li class="span4 gallery-item" data-id="id-10" data-type="web design">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Poster and Ad Design</a>For an international add campaign.</span>
                        </li>
                        <!-- Gallery Item 11 -->
                        <li class="span4 gallery-item" data-id="id-11" data-type="illustration">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Website and Animation</a>For a local business.</span>
                        </li>
                        <!-- Gallery Item 12 -->
                        <li class="span4 gallery-item" data-id="id-12" data-type="illustration video">
                            <span class="gallery-hover-3col hidden-phone hidden-tablet">
                                <span class="gallery-icons">
                                    <a href="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-full.jpg') }}" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
                                    <a href="gallery-single.htm" class="item-details-link"></a>
                                </span>
                            </span>
                            <a href="gallery-single.htm"><img src="{{ url_for('static', path='ai_recomm/image/gallery/gallery-img-1-3col.jpg') }}" alt="Gallery"></a>
                            <span class="project-details"><a href="gallery-single.htm">Branding Design</a>For an international add campaign.</span>
                        </li>
                    </ul>
                </div>

                <!-- Pagination -->
                <div class="pagination">
                    <ul>
                        <li class="active"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div><!-- End gallery list -->
        </div><!-- End container row -->
    </div>
</body>
<script>
    function loadFile(input) {
        let file = input.files[0]; // 선택된 파일 가져오기
        let container = document.getElementById('image-show');

        // 기존 이미지가 있으면 제거
        let existingImage = document.getElementById('img-id');
        if (existingImage) {
            container.removeChild(existingImage);
        }

        // 새 이미지 추가
        let newImage = document.createElement("img");
        newImage.src = URL.createObjectURL(file);
        newImage.id = "img-id";
        newImage.style.height = "100%";
        newImage.style.objectFit = "cover";

        // 이미지를 image-show div에 추가
        container.appendChild(newImage);

        // 버튼 텍스트를 SUBMIT으로 변경
        let button = document.getElementById("submitButton");
        button.innerText = "SUBMIT";

        // container2와 intro__cluster 스타일을 none으로 변경
        let elements = document.querySelectorAll('#container2, .intro__cluster');
        elements.forEach(function (element) {
            element.style.display = "none";
        });
    }

    document.getElementById("submitButton").addEventListener("click", function () {
        let elements = document.querySelectorAll('#container2, .intro__cluster');

        // Get the image element
        let imgElement = document.getElementById("img-id");

        // Check if the image exists
        if (!imgElement) {
            // If the image does not exist, hide container2 and intro__cluster and return
            elements.forEach(function (element) {
                element.style.display = "none";
            });
            return;
        }

        elements.forEach(function (element) {
            // Get the current display style of the element
            let currentDisplay = getComputedStyle(element).display;

            // If the element is hidden, show it; otherwise, hide it
            if (currentDisplay === "none") {
                element.style.display = "flex"; // Change display to flex for side-by-side alignment
            } else {
                element.style.display = "none";
            }
        });

        // Remove the image if it exists
        if (imgElement) {
            imgElement.parentNode.removeChild(imgElement);
        }

        // Change the button text from "SUBMIT" to "RESET" and vice versa
        let button = document.getElementById("submitButton");
        if (button.innerText === "SUBMIT") {
            button.innerText = "RESET";
        } else if (button.innerText === "RESET") {
            button.innerText = "SUBMIT";
        }
    });
</script>
</html>